@import "../../utils/variables.scss";

.records__form {
  width: 35vw;
  height: 74vh;
  background: linear-gradient(59.12deg, #1E1D1D 9.53%, #090808 96.51%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 7%;
  top: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-height: 710px) {
    height: 86vh;
    top: 100px;
  }

  @media only screen and (max-width: 960px) {
    width: 46vw;
  }

  @media only screen and (max-width: 760px) {
    width: 56vw;
  }

  @media only screen and (max-width: 568px) {
    display: block;
    width: 100%;
    position: static;
  }

  &-title {
    text-align: center;

    @media only screen and (max-height: 960px) {
      margin: 2vh 0 0;
    }

    h1 {
      font-size: 64px;
      color: $gold;
      margin: 0;

      @media only screen and (max-height: 960px) {
        font-size: 50px;
      }

      @media only screen and (max-width: 568px) {
        font-size: 36px;
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0.6vh;
  }

  &-exercise,
  .records__form-date,
  .records__form-weight {
    width: 307px;

    p {
      font-size: 11px;
      color: rgba(143, 104, 4, 0.999);
    }

    label,
    input,
    select {
      color: $gold;
    }

    label {
      font-size: 40px;

      @media only screen and (max-height: 960px) {
        font-size: 32px;
      }

      @media only screen and (max-width: 568px) {
        font-size: 24px;
      }
    }

    select {
      overflow-y: auto;
      max-height: 100px;
      option {
        max-height: 100px;
        overflow-y: scroll;
      }
    }


    input,
    select {
      width: 100% !important;
      height: 52px;
      margin: 0;
      background-color: $background-color;
      border: none;
      text-align: center;
      font-size: 32px;
      margin-bottom: 5.5vh;

      @media only screen and (max-height: 960px) {
        font-size: 24px;
        margin-bottom: 3.5vh;
      }

      @media only screen and (max-height: 776px) {
        margin-bottom: 1.5vh;
      }

      @media only screen and (max-width: 568px) {
        font-size: 20px;
      }
    }

  }

  .records__form-weight input {
    margin-bottom: 3.0vh;

    @media only screen and (max-height: 960px) {
      margin-bottom: 1vh;
    }
  }

  &-button {
    display: flex;
    flex-direction: row;

    &-x {
      width: 40px !important;
      margin-left: 33px !important;
      min-width: 40px !important;
      border-radius: 0px !important;

    }
  }

  &-button button {
    background-color: $gold;
    color: black;
    border: none;
    width: 230px;
    height: 40px;
    font-size: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 100ms !important;
  }

  &-button button:hover {
    background-color: #f1ad64 !important;
    color: black !important;
  }
}