@import "../../../utils/variables.scss";

.login__form {
  position: absolute;
  left: 0;
  top: 0;
  width: 30vw;
  background-color: $background-color-form !important;
  height: calc(100vh - 140px);

  &::-webkit-scrollbar {
    width: 8px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gold !important;
    border-radius: 9999px !important;
  }

  @media only screen and (max-width: 950px) {
    position: static;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  @media only screen and (min-width: 951px) {
    max-height: calc(100vh - 140px);
    overflow-y: auto;
  }

  &-status {
    h1 {
      font-size: 48px;
      text-align: center;
      margin: 40px 0 0;
      color: $gold;

      @media only screen and (max-width: 950px) {
        font-size: 32px;
      }
    }
  }

  form {
    margin: 10% 40px;

    .login__form-button {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        height: 45px;
        width: 160px;
        background-color: $gold;
        color: black;
        border: none;
        font-size: 18px;

        &:hover {
          background-color: #f1ad64;
        }
      }
    }

    .login__form-login,
    .login__form-password {
      label {
        color: $gold;
        font-size: 40px;
      }

      input {
        font-family: "Oswald", sans-serif;
        background-color: $background-color !important;
        border: none;
        color: $gold;
        width: 100%;
        margin-bottom: 90px;
        height: 45px;
        outline: none !important;
        padding-left: 10px;

        &:-webkit-autofill {
          background-color: $background-color !important;
          appearance: none !important;
          color: red !important;
          background-image: none !important;
        }

        &:focus {
          border: none !important;
          outline: none !important;
        }
      }
    }
  }
}
