@import "../../utils/variables.scss";

.history-page__history {
  width: 600px;
  height: calc(100vh - 140px);
  background: linear-gradient(160deg, #96652F 3.85%, #000 74.44%);
  position: absolute;
  left: calc(50vw - 300px);
  border-left: solid 1px #96652F;
  border-right: solid 1px #96652F;

  @media only screen and (max-width: 700px) {
    width: 400px;
    left: calc(50vw - 200px);
  }

  @media only screen and (max-width: 500px) {
    width: 300px;
    left: calc(50vw - 150px);
  }

  @media only screen and (max-width: 400px) {
    width: 250px;
    left: calc(50vw - 125px);
  }

  &-title {
    text-align: center;
    padding-top: 30px;

    h1 {
      font-size: 42px;
      color: #111;
    }
  }

  ul {
    backdrop-filter: blur(55px);
    -webkit-backdrop-filter: blur(55px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding-bottom: 0px !important;

    li:hover {
      color: #fcdbc6;
    }

    &::-webkit-scrollbar {
      width: 8px !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gold !important;
      border-radius: 9999px !important;
    }

    .MuiListItem-gutters {
      border-bottom: #bd894e solid 1px;
      cursor: pointer;
    }
  }
}
