.App {
  height: 100%;
  .home {
    &__img,
    &__container {
      margin: 0;
      padding: 0;
      width: 100% !important;
    }

    &__img {
      height: auto;
    }

    &__container {
      display: flex;
      flex-direction: row;

      @media only screen and (max-width: 950px) {
        flex-direction: column;
      }
    }
  }
}
