.login {
  position: relative;

  &__img {
    height: calc(100vh - 140px);

    @media only screen and (max-width: 950px) {
      display: none;
    }

    &-photo {
      height: 100%;
      width: auto;
      float: right;
    }
  }
}
