@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
$black: #151512;
$gold: #b17a41;
$background-color: #1e1d1d;
$text-color-gray: #525150;
$background-color-form: #151512;
$background-color-navbar: #1e1d1d;
