@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap");

body {
    height: 100%;
    background-color: #151512;
    font-family: "Bebas Neue", cursive;
    margin: 0;
    padding: 0;
}

